<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Include Bootstrap CSS -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"
				style="font-family: monospace; font-size: 30px; font-weight: 700; font-variant: inherit;">Event
				Management</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/userHome}">Home</a></li>

					<!-- Events Dropdown Menu -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="eventsDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Events </a>
						<div class="dropdown-menu" aria-labelledby="eventsDropdown">
							<a class="dropdown-item"
								th:href="@{/events/{id}/addevent(id=${user.id})}">Add New
								Event</a>
								 <a class="dropdown-item" th:href="@{/events/{userId}/eventregisterrequests(userId= ${user.id})}">
								Events Registration Requests &nbsp </a> <a class="dropdown-item"
								th:href="@{/events/{id}/userEvents(id=${user.id})}">My
								Events</a>
						</div></li>


					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="eventsDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false" th:text="${user.name}"> profile</a>
						<div class="dropdown-menu" aria-labelledby="eventsDropdown">
							<a class="dropdown-item"
								th:href="@{/events/{id}/addevent(id=${user.id})}">update profile
								</a>
								 <a class="dropdown-item" th:href="@{/events/{userId}/eventregisterrequests(userId= ${user.id})}">
								your confirmed events</a>
								 <a class="dropdown-item"
								th:href="@{/events/{id}/userEvents(id=${user.id})}">My
								delete account</a>
						</div></li>
						
					
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/logout"></a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/logout"></a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/logout"></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

</html>
