<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div style="background: red; color: white; font-size: 23px; padding: 5px" th:if="${message}">
  	<p th:text="${message}"></p>
  	
  	<p>you can create your new account anytime</p>
  	<div  style="background: beige; color: blue; font-size: 27px; padding: 5px">
  		<a th:href="@{/index}">Home</a>
  	</div>
  	
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
