<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Home</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Include Header -->
<div th:replace="fragments/user-header :: header"></div>


<div class="container mt-5">
	
	<p style="color: red; background: beige; font-size: 30px" th:if="${message}">
		<span th:text="${message}"></span>
	</p>

    <h1 class="text-center mb-4">All Events</h1>
    <div class="row">
        <!-- Iterate over the events and display each one in a card -->
        <div class="col-md-4" th:each="event : ${events}">
            <div class="card mb-4">
                <img th:src="@{${event.posterUrl}}" class="card-img-top" alt="Event Poster" width="250px" height="380px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.name}">Event Name</h5>
                    <p class="card-text">
                        <strong>Date:</strong> <span th:text="${event.eventDate}">Event Date</span><br>
                        <strong>Time:</strong> <span th:text="${event.eventTime}">Event Time</span><br>
                        <strong>Description:</strong> <span th:text="${event.location}">Event Description</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
