<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>OTP Verification</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header text-center">
						<h3>OTP Verification</h3>

						<div style="background: beige; color: red" th:if="${message}">
							<p th:text="${message}"></p>
						</div>

					</div>
					<div class="card-body">
						<form th:action="@{/verify-otp}" method="post">
							<div class="form-group">
								<label for="otp">Enter OTP</label> <input type="text"
									class="form-control" id="otp" name="otp"
									placeholder="Enter the OTP" required>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Verify
								OTP</button>
						</form>
					</div>
					<div class="card-footer text-center">
						<a class="btn btn-primary" th:href="@{/resendotp/{email}(email = ${email})}" >Resend</a>
					</div>

					<div>
						<a th:href="@{/index}">Home Page</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





</body>
</html>

